/*background image*/
body {
    background-image: url(C:\Users\hkirs\Desktop\Basic-Portfolio\assets\images\dust_scratches.png);
}

/* My name background color and font */
h1 
    {
    background-color: #4aaaa5;
    width: 220px;
    margin-left: 152px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white
    }

/* Right aligned inline list */
#headerlist
    {
        margin: 0;
        padding: 0;
        font-family: 'Georgia', Times, Times New Roman, serif;
        float: right;
        margin-top: -75px;
        margin-right: 152px;
    }

#headerlist ul li
    {
        list-style-type: none;
        display: inline;
    }
#headerlist li:not(:first-child):before 
    {
        content: " | ";
    }

/*Wrapping text around picture */
#profile
    {
        float: left;
        margin-right: 10px;
        margin-bottom: 5px;
    }

.container   {
    border: 5px;
    border-style: solid;
    border-color: black;
    height: 400px;
    width: 650px;
    margin-left: 152px;
    }

    h2 {
      border-bottom: 5px 
      solid 
      #cccccc;
      color: #4aaaa5
  }

/* Move "Connect with Me" box to the right */
.sidebar {
    float: right;
    width: 270px;
    border: 5px;
    border-style: solid;
    border-color: black;
    margin-right: 152px;
}

h3 {
    border-bottom: 5px 
    solid 
    #cccccc;
    color: #4aaaa5
}
/* Portfolio formatting */
.travel {
    background-color: #4aaaa5;
    color: white;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    
}

.Traveltext{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.hiking{
    background-color: #4aaaa5;
    color: white;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px; 
}

.business{
    background-color: #4aaaa5;
    color: white;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px; 
}

.food{
    background-color: #4aaaa5;
    color: white;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px; 
}

.sports{
    background-color: #4aaaa5;
    color: white;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px; 
}

/* Making message box larger */
.Message{
    height: 100px !important;
    width: 400px;
    font-size: 14px !important;
}

/* Fixed footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    text-align: center;
    border-top: 5px;
    border-style: solid;
    border-color: #4aaaa5
}